table {
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid black;
}

th,
td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
}

td:nth-child(6n+1) {
    text-align: left;
}

tr:first-child {
    text-align: center;
}
